#loader {
    position: absolute;
    left: 50%;
    top: 15%;
    /* z-index: 1; */
    width: 20px;
    height: 20px;
    margin: -76px 0 0 -76px;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    animation: spin 2s linear infinite;
  }
  .loader{
    position: absolute;
    left: 52%;
    top: 15%;
    /* z-index: 1; */
    width: 20px;
    height: 20px;
    margin: -76px 0 0 -76px;
  }
  

  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  


  
  /* @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
   */
  /* #myDiv {
    display: none;
    text-align: center;
  } */

  